<link rel="stylesheet" href="/css/navbar.css" />
<header>
  <div id="website-title"><a href="/">Habit Tracker</a></div>
  <div id="username">Welcome Lavkesh</div>
  <div id="add-habit"><a href="/create">Add Habit ➕</a></div>
</header>
