header {
  display: flex;
  height: 60px;
  color: aliceblue;
  background-color: black;
  align-items: center;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  box-sizing: content-box;
}

#website-title {
  font-size: 40px;
  margin-right: 5px;
}

#username {
  flex-grow: 1;
  margin-right: 5px;
  text-align: center;
}

#website-title:hover {
  cursor: pointer;
}

#add-habit:hover {
  cursor: pointer;
}
a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
